body {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
  position: relative;
}

.score {
  font-size: 2rem;
  color: #333;
}

#score-value {
  color: #007528;
}

.popup-play {
  display: none;
  width: 20em;
  height: 10em;
  background: hsla(0, 0%, 100%, 0.8);
  border-radius: 1em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1px);
}

.popup-play.open {
  display: block;
}