body {
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  text-align: center;
  font-family: helvetica, arial, sans-serif;
}

.score {
  font-size: 2rem;
  color: #333;
}

#score-value {
  color: #007528;
}